*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Goudy Bookletter 1911", sans-serif;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: RGB(154,115,68);
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(21,21,21);
    height: 98.5%;
    width: 99.5%;
    border-radius: 11px;
}


#main{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;

}

#left{
    display: flex;
    width: 40%;
    float: left;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:   RGB(21,21,21);
    flex-flow: column;

    #image{
        width: 100%;
        height: 100%;
    }
    h5{
        align-items: flex-end;
        color: silver;
        font-size: .7rem;
    }
}

#right{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    float: right;
}


.sections{
    display: flex;
    height: 33.333%;
    margin-left: 1px;
    
}

#header{
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.76);
    height: 35%;
    background-image: linear-gradient(90deg,  RGB(21,21,21), RGB(154,115,68));

}

#bottom{
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    padding-top: 15px;
    flex-direction: column;


}

#form_columns{
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(270deg, RGB(154,115,68),  RGB(21,21,21) );
    border-bottom-right-radius: 30px;
    height: 35%;
}

.form{
    display: flex;
    flex-flow: wrap;
    margin-left: 15px;

}

.form_rows{
    display: flex;
    flex-direction: column;
    padding: 9px;
    padding-right: 25px;
}

label{
    font-size: 14px;
    color: rgb(254, 192, 22);
    /*-webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: white;*/
}

input{
    border: rgb(254, 192, 22) 1px solid;
    height:1.8em;
    margin-top: 1px;
    background-color: RGB(21,21,21);
    color: white;
    width: 193px;
}





h2{
    padding: 3px;
    font-size: 1.1em;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: rgb(254, 192, 22);
    /*-webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: white;*/

}


h1{
    font-size: 1rem;
    padding: 25px;
    font-weight: 900;
    color: rgb(254, 192, 22);
    /*-webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: white; */
    margin-bottom: 15px;
}

h3{
    font-size: 13px;
    color: rgb(254, 192, 22);
    margin-left: 15px;
    margin-top: 15px;

}

#submit{
    background-color: RGB(21,21,21);
    color: rgb(254, 192, 22);
    border: rgb(254, 192, 22) 2px solid;
    height: 1.8em;
    width: 166px;
    font-size: 1rem;
    margin-left: 27px;
    
}
